.editUserWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid white;
    background: white;
    padding: 8px;
    width: 400px;
}

.editUserBody input {
    width: 250px;
}