#usersListWrapper {
    border: 2px solid white;
    width: 70%;
    background-color: whitesmoke;
    color: #222;
    min-height: 200px;
    padding: 8px;
    margin: 0 auto;
}

#usersListWrapper.header {

}

.modalWrapper {
    position: absolute;
    width: 200px;
    left: 100px;
    top: 100px;
}

.actionIcon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: opacity 0.15s;
}

.actionIcon:hover {
    opacity: 0.7;
}

.actionIcon:not(:first-child) {
    margin-left: 10px;
}

.actionIcon.edit {
    background-image: url('edit.png');
}

.actionIcon.delete {
    background-image: url('delete.png');
}